[package]
categories = ["embedded", "no-std", "hardware-support", "network-programming"]
name = "stm32-eth"
description = "Embedded Rust Ethernet driver for the STM32 MCU series"
license = "Apache-2.0"
authors = ["Astro <astro@spaceboyz.net>"]
version = "0.0.0"
keywords = ["ethernet", "eth", "stm32", "stm32f4", "stm32f7"]

[dependencies]
cortex-m-semihosting = "0.2.0"
volatile-register = "0.2.0"
aligned = "0.1.1"

stm32f429 = { version = "0.3.0", features = ["rt"], optional = true }

[features]
default = []

# Targets
target-stm32f429 = ["stm32f429"]

[dev-dependencies]
cortex-m = "0.4.3"
cortex-m-rt = { version = "0.4.0" }
panic-itm = "0.1.0"

[[example]]
name = "pktgen"
required-features = ["target-stm32f429"]

[[example]]
name = "ip"
required-features = ["target-stm32f429", "smoltcp-phy"]

[profile.release]
debug = 2
lto = true
