[package]
categories = ["embedded", "no-std", "hardware-support", "network-programming"]
name = "stm32-eth"
version = "0.0.0"
keywords = ["ethernet", "network", "st", "stm32", "stm32f4", "stm32f7", "eth", "ethernet", "driver"]

[dependencies]
cortex-m-semihosting = "0.2.0"
volatile-register = "0.2.0"
aligned = "0.1.1"

stm32f429 = { path = "../stm32f429", features = ["rt"], optional = true }

[features]
default = []

# Targets
target-stm32f429 = ["stm32f429"]

[dev-dependencies]
cortex-m = "0.4.3"
cortex-m-rt = { version = "0.4.0" }
panic-itm = "0.1.0"

[[example]]
name = "pktgen"
required-features = ["target-stm32f429"]

[[example]]
name = "ip"
required-features = ["target-stm32f429", "smoltcp-phy"]

[profile.release]
debug = 2
lto = true
